input:focus, textarea:focus, select:focus, button:focus {
	outline: 0 !important; /* TODO remove !important from this declaration */
}

.App {
	position: fixed;
	width: 100%;
}

#wrapper {
	min-height: 800px;
	display: flex;
}

#navigation {
	cursor: pointer;
	height: 100vh;
	width: fit-content;
	min-width: fit-content;
	padding: 0 10px 0 0;
}

#navigation * {
	border: thin solid;
}

#navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navigation ul li ul li {
	padding-left: 16px;
}

#navigation ul li ul li:hover {
	background: #C0C0C0;
}

#navigation ul li ul div:hover {
	width: 100%;
	display: inline-block;
	background: #C0C0C0;
}

#add-todo {
	display: inline;
	width: 90%;
	margin: 0;
	padding: 10px 0 10px 8px;;
	font-size: 18px;
}

#todo-list {
	border: thin solid;
}

#todos {
	overflow: auto;
	height: 93vh;
}

/* Edit Todo Form */

#edit-todo {
	border: thin solid;
	height: 100vh;
	width: 300px;
	margin-right: 50px;
}

button.addProjectBtn {
	display: inline;
}

#edit-custom-tags {
	border: thin double;
	display: block;
	min-height: 100px;
}

#custom-tag-dialog {

}

input.custom-tag {
	width: 50px;
}

ul#editCustomTags {
	border: thin solid;
	padding: 0px;
	list-style-type: none;
	cursor: pointer;
}

ul#editCustomTags li.hilited {
	background: #b3d7fe;
}
/* end edit todo form */

.todoItem {
	border: solid gray thin;
	margin-top: 6px;
	max-height: 40px;
	height: 40px;
	padding: 6px;
	font-size: 12pt;
	cursor: pointer;
}

.hilited {
	background: pink;
}
.tag-header {
	margin-top: 6px;
	border: solid thin;
	background: #F0F0F0;
	text-align: center;
}

.toggleShowCompleted {
	 width: 100%;
	 text-align: center;
	 border-bottom: 1px solid #000;
	 line-height: 0.1em;
	 margin: 20px 0 20px;
	 cursor: pointer;
}

.toggleShowCompleted span {
	background:#fff;
	padding:0 10px;
}

label {
	display: block;

}
label.css-label {
	/*display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center*/;
	display: inline;
	width: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

div.task-meta {
	height: 20px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.task-meta .project {
	margin-left: 6px;
}

.task-meta .context {
	margin-left: 6px;
}

.task-meta .due {
	margin-left: 6px;
}

.task-meta .due span {
	margin-right: 2px;
}

.task-meta .custom-tags {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}

.custom-tags .custom-tag {
	flex: 1;
}

.custom-tags .custom-tag .custom-tag-key {
	margin-left: 2px;
	padding: 1px 1px 1px;
	white-space: nowrap;
}

.custom-tags .custom-tag .custom-tag-value {
	margin-right: 2px;
	padding: 1px 2px 1px;
	white-space: nowrap;
}

div.priority {
	float: right;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	cursor: pointer;
	width: 38px;
	height: 38px;
	margin: auto 6px auto 2px;
	color: black;
	text-align: center;
	line-height: 1.25em;
	font-family: sans-serif;
}

div.priority::before {
	content: "\2606";
}

div.priority_set::before {
	content: "\2605";
}

input[type="text"]:focus {
	outline: 1px solid black;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
}

input[type="checkbox"].smallCheck {
	width: 15px;
	height: 15px;
}

button:focus {
	outline: 1px solid blue;
}

input, textarea, button {
	cursor: pointer;
}

/* Tooltips */

[tooltip]{
	position:relative;
	display:inline-block;
}

[tooltip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent     transparent;
    z-index: 99;
    opacity:0;
}

[tooltip-position='right']::before{
  left:100%;
  top:50%;
  margin-left:1px;
  transform:translatey(-50%) rotate(90deg)
}

[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
    padding: 4px 4px;
    z-index:99;
    opacity:0;
}

[tooltip-position='right']::after{
  left:100%;
  top:50%;
  margin-left:8px;
  transform: translateX(0%)   translateY(-50%);
}

[tooltip]:hover::after,[tooltip]:hover::before {
   opacity:1
}

