.App {
	min-height: 800px;
	display: grid;
	grid-template-columns: 200px 4fr 2fr;
}

#navigation {
	border: thin solid;
	cursor: pointer;
}

#navigation ul {
	border: solid thin;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navigation ul li ul li {
	border: solid thin;
	padding-left: 16px;
}

#todo-list {
	border: thin solid;
}

#edit-form {
	/* TODO make position fixed */
	border: thin solid;
}

.todoItem {
	/*
	display: flex;
	flex-flow: row nowrap;
	flex-direction: column;
	*/
	border: solid gray thin;
	margin-top: 6px;
	max-height: 40px;
	height: 40px;
	padding: 6px;
	font-size: 12pt;
	cursor: pointer;
}

.tag-header {
	margin-top: 6px;
	border: solid thin;
	background: #F0F0F0;
	text-align: center;
}
.toggleShowCompleted {
	 width: 100%;
	 text-align: center;
	 border-bottom: 1px solid #000;
	 line-height: 0.1em;
	 margin: 20px 0 20px;
	 cursor: pointer;
}

.toggleShowCompleted span {
	background:#fff;
	padding:0 10px;
}

label {
	display: block;

}
label.css-label {
	/*display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center*/;
	display: inline;
	width: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

div.task-meta {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.task-meta .project {
	margin-left: 6px;
}

.task-meta .context {
	margin-left: 6px;
}

.task-meta .due {
	margin-left: 6px;
}

.task-meta .due span {
	margin-right: 2px;
}

.task-meta .custom-tags {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}

.custom-tags .custom-tag {
	flex: 1;
}

.custom-tags .custom-tag .custom-tag-key {
	margin-left: 2px;
	padding: 1px 1px 1px;
	background-color: #AACAFF;
	border: 2px solid #AACAFF;
	border-top-left-radius: 10%;
	border-bottom-left-radius: 10%;
	white-space: nowrap;
}

.custom-tags .custom-tag .custom-tag-value {
	margin-right: 2px;
	padding: 1px 2px 1px;
	background-color: #FFF;
	border: 2px solid #AACAFF;
	border-top-right-radius: 10%;
	border-bottom-right-radius: 10%;
	white-space: nowrap;
}

div.priority {
	float: right;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	cursor: pointer;
	width: 38px;
	height: 38px;
	margin: auto 6px auto 2px;
	color: black;
	text-align: center;
	line-height: 1.25em;
	font-family: sans-serif;
}

div.priority::before {
	content: "\2606";
}

div.priority_set::before {
	content: "\2605";
}

input[type="text"]:focus {
	outline: 1px solid black;
}

button:focus {
	outline: 1px solid blue;
}

